.navbarextra-end {
    width: 50%;
    margin-left: auto;
    justify-content: flex-end;
}

.customlink-head div {
    /* font-size: 20px; */
    margin: 00 20px;
    /* padding: 20px; */
    /* color: rgba(red, green, blue, alpha); */
}

.customlink-head div a,
.logoutbutton {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;

}

.logoutbutton {
    color: purple;
}

.customlink-head div a:hover {
    color: white;

}


.navshow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}